---

- import_tasks: ensure_pre_configuration.yml

- import_tasks: ensure_drain_and_remove_nodes.yml

- import_tasks: ensure_uninstalled.yml

- import_tasks: post_checks_uninstalled.yml
  when:
    - not k3s_skip_validation
    - not k3s_skip_post_checks
