frontend loadbalancer
    bind *:6443
    mode tcp
    default_backend control_nodes
    timeout client          1m

backend control_nodes
    mode tcp
    balance roundrobin
    server node2 node2:6443
    server node3 node3:6443
    timeout connect        30s
    timeout server         30m
