---

name: CI
'on':
  pull_request:
  push:
    branches:
      - master
      - main
      - v1_release
  schedule:
    - cron: "0 1 1 * *"

defaults:
  run:
    working-directory: "xanmanning.k3s"

jobs:
  molecule:
    name: Molecule
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - distro: geerlingguy/docker-debian11-ansible:latest
            scenario: default
            prebuilt: 'true'
          - distro: geerlingguy/docker-ubuntu2204-ansible:latest
            scenario: default
            prebuilt: 'true'
          - distro: geerlingguy/docker-amazonlinux2-ansible:latest
            scenario: default
            prebuilt: 'true'
          - distro: geerlingguy/docker-ubuntu2004-ansible:latest
            scenario: default
            prebuilt: 'true'
          - distro: geerlingguy/docker-fedora35-ansible:latest
            scenario: nodeploy
            prebuilt: 'true'
          - distro: geerlingguy/docker-fedora34-ansible:latest
            scenario: highavailabilitydb
            prebuilt: 'true'
          - distro: geerlingguy/docker-fedora33-ansible:latest
            scenario: autodeploy
          - distro: xanmanning/docker-alpine-ansible:3.16
            scenario: highavailabilityetcd
            prebuilt: 'false'
          - distro: geerlingguy/docker-rockylinux8-ansible:latest
            scenario: highavailabilityetcd
            prebuilt: 'true'

    steps:
      - name: Checkout codebase
        uses: actions/checkout@v2
        with:
          path: "xanmanning.k3s"

      - name: Set up Python 3
        uses: actions/setup-python@v2
        with:
          python-version: "3.x"

      - name: Install test dependencies
        run: pip3 install -r molecule/requirements.txt

      - name: Run Molecule tests
        run: molecule test --scenario-name "${{ matrix.scenario }}"
        # continue-on-error: true
        env:
          PY_COLORS: '1'
          ANSIBLE_FORCE_COLOR: '1'
          MOLECULE_DISTRO: ${{ matrix.distro }}
          MOLECULE_PREBUILT: ${{ matrix.prebuilt }}
          MOLECULE_DOCKER_COMMAND: ${{ matrix.command }}
